body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    color: white;
    background: #f5f5f5;

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9.5vh;
    background: linear-gradient(180deg, #2f9e44, #4db748);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    box-shadow: 0.4vw 0 1.5vw rgba(0,0,0,0.25);
    z-index: 1000;

}

.logo {
    display: flex;
    align-items: center;
    gap: 0.6vw;
    object-fit: contain;
}

.logo img {
    filter: drop-shadow(0 0.4vh 0.6vh rgba(0,0,0,0.4));
    width: 3.2vw;
    height: 6vh;
}

.navbar h1 {
    font-size: 4vh;
    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.4);
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:visited {
    color: white;
}

.navbar a:hover {
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 3vw;
    margin-right: 8vw;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 2.5vh;
    transition: transform 0.3s ease;
    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.4);
    display: inline-block;
}

.navbar li a:hover {
    color: #c7e0bf;
    transition: color 0.3s ease;
}

.navbar ul li {
    position: relative;
}

.navbar ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -1.5vw;
    top: 60%;
    transform: translateY(-50%);
    width: 0.1vw;
    height: 4.7vh;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1vh;
}

.profile {
    position: fixed;
    top: 12.5vh;
    left: 1.3vw;
    width: 16vw;
    height: calc(100vh - 21vh);
    background: linear-gradient(180deg, #3da34d, #5ec56a);
    border-radius: 7vh;
    text-align: center;
    padding: 2.8vh 1vw;
    box-shadow: 0.4vw 0 1.5vw rgba(0,0,0,0.25);
    overflow: hidden;
}

.profile-pic {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    margin-top: 3vh;
    filter: drop-shadow(0 0.4vh 0.6vh rgba(0,0,0,0.4));
    object-fit: cover;
}

.profile p {

    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.4);
}

.username{
    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.4);
    font-size: 3vh;
    color: #b6e3a8;
    margin-bottom: 5vh !important;
}

.profile .email {
    font-size: 2.2vh;
    margin: 5vh 0 !important;
}

.profile .country {
    font-size: 3vh;
    margin: 5vh 0 8vh 0 !important;
}

.profile h2 {
    font-weight: 400;
    font-size: 4vh;
    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.4);
}

.logout {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-top: 2.7vh;
    padding: 1vh 2vh;

    background: #3e8a47;
    color: white;
    border: none;
    border-radius: 2.5vh;

    font-family: inherit;
    font-size: 2vh;
    font-weight: 400;
    line-height: normal;

    cursor: pointer;
    text-decoration: none;

    box-shadow: 0.4vw 0 1.5vw rgba(0,0,0,0.25);
    transition: background 0.3s ease-in-out;

    appearance: none;
    -webkit-appearance: none;
}

.logout:hover {
    background: #379541;
}

.profile-buttons form {
    margin: 0;
    margin-left: 0.8vw;
}

.profile-buttons .logout {
    margin-top: 0;
}

.fav-team {
    position: fixed;
    top: 12.5vh;
    right: 1.3vw;
    width: 16vw;
    height: calc(100vh - 21vh);
    background: linear-gradient(180deg, #3da34d, #5ec56a);
    border-radius: 7vh;
    text-align: center;
    padding: 2.8vh 1vw;
    box-shadow: 0.4vw 0 1.5vw rgba(0,0,0,0.25);
    overflow: hidden;
}

.team-logo {
    width: 20vh;
    height: 20vh;
    margin-top: 3vh;
    object-fit: contain;
    filter: drop-shadow(0 0.4vh 0.6vh rgba(0,0,0,0.4));
}

.team-name{
    font-weight: 400;
    font-size: 4vh;
    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.4);
}

.league-position{
    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.4);
    font-size: 3vh;
}

.latest-match{
    color: #b6e3a8;
    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.4);
    font-size: 3vh;
}

.latest-match-text{
    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.4);
    font-size: 3vh;
}

.manager{
    color: #b6e3a8;
    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.4);
    font-size: 3vh;
}

.manager-text{
    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.4);
    font-size: 3vh;
}

.content {
    position: relative;
    top: 1.2vh;
    margin: 8.5vh 20vw 4vh 21.3vw;
    min-height: calc(100vh - 9vh);
    overflow-y: visible;
    overflow-x: hidden;
    padding-right: 2.5vh;
}

.article {
    position: relative;
    background: linear-gradient(180deg, #3da34d, #5ec56a);
    border-radius: 7vh;
    width: 24vw;
    height: 34.5vh;
    padding: 1.4vw;
    text-align: center;
    box-shadow: 0.4vw 0 1.5vw rgba(0,0,0,0.25);

}

.article-img {
    width: 24vw;
    height: 28vh;
    margin-top: 0.1vh;
    margin-left: 0.1vw;
    margin-right: 10vw;
    border-radius: 6.7vh;
    box-shadow: 0.4vw 0 1.5vw rgba(0,0,0,0.25);
    cursor: pointer;
    object-fit: cover;
}

.article-title h2 {
    color: white;
    text-decoration: none;
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 0.7vw;
    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.4);
    text-align: left;
    font-size: 2.4vh;
}

.article-title {
    text-decoration: none;
}

.date{
    color: white;
    text-decoration: none;
    margin-top: 0.8vh;
    margin-right: 1vw;
    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.5);
    text-align: right;
    font-size: 2vh;
}

.article .date {
    position: absolute;
    bottom: 1.7vh;
    right: 5vh;
    margin: 0;
}

.articles-grid {
    margin-top: 2.7vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8vw;
    justify-items: center;
    margin-bottom: 5vh;
}

.league-table {
    background: linear-gradient(180deg, #3da34d, #5ec56a);
    border-radius: 7vh;
    padding: 2vw;
    box-shadow: 0.4vw 0 1.5vw rgba(0,0,0,0.25);
    margin-bottom: 4vh;
}

.league-table table {
    width: 52.3vw;
    border-collapse: collapse;
}

.league-table th, .league-table td {
    padding: 1vh;
    text-align: center;
    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.5);
}

.points{
    font-weight: 680;
}

tbody tr:not(:first-child) {
    border-top: 0.3vh solid rgba(255, 255, 255, 0.3);
}

.league-table thead {
    border-bottom: 0.3vh solid white;
}
.team-cell {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.team-cell img {
    width: 1.5vw;
    height: 3.1vh;
     object-fit: contain;
    filter: drop-shadow(0 0.4vh 0.6vh rgba(0,0,0,0.4));
}

.league-table h2 {
    font-size: 2.8vh;
    text-align: left;
    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.5);
}

.league-team-name{
    position: relative;
    top: -0.8vh;
    margin-left: 1vw;
}

.league-table table{
    font-size: 2vh;
}

.latest-matches, .upcoming-matches {
    background: linear-gradient(180deg, #3da34d, #5ec56a);
    border-radius: 7vh;
    padding: 2.2vh;
    box-shadow: 0.4vw 0 1.5vw rgba(0,0,0,0.25);
    margin-bottom: 4vh;
    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.5);
}

.matches-header{
    margin-left: 1vw;
    font-size: 2.8vh;
}

.match {
    position: relative;
    display: grid;
    grid-template-columns:
        3vw
        minmax(0, 1fr)
        3vw
        5vw
        3vw
        minmax(0, 1fr)
        5vw;

    align-items: center;
    text-align: center;
    gap: 0.5vw;
    padding: 1.4vh 2vw;
    width: 52vw;
    margin: 0 auto;
}

.match .date,
.match .time {
    font-size: 2.3vh;
    white-space: nowrap;
}

.match .home {
    text-align: right;
    overflow: hidden;
}

.match .away {
    text-align: left;
    overflow: hidden;
}

.match span {
    font-size: 2.3vh;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.match .logo img {
    width: 4.4vh;
    height: 4.4vh;
    margin-left: 0.3vw !important;
    object-fit: contain;
}

.match .score {
    font-size: 2.4vh;
}

.match::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0.8vw;
    width: calc(100% - 3.5vw);
    height: 0.21vh;
    background: rgba(255,255,255,0.3);
}

.match:last-child::after {
    display: none;
}


.latest-matches .dash{
    margin-left: 0.2vw;
}

.article:hover .article-title h2 {
    color: #c7e0bf;
    transition: color 0.3s ease;
}

a {
    color: white !important;
    text-decoration: none !important;
}

a:visited {
    color: white !important;
}

a:hover {
    transition: color 0.3s ease;
    color: #c7e0bf !important;
}

.single-dash{
    margin-left: 0.6vw !important;
}

.admin-nav{
    margin-left: -13vw;
}

.matches-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2vh;
}

.see-all {
    font-size: 2.8vh;
    margin-right: 2vw !important;
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-shadow: 0.2vh 0.2vh 0.4vh rgba(0,0,0,0.4);
    transition: color 0.3s ease;
}

.see-all:hover {
    color: #c7e0bf;
}

