body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif; /* Matches your previous design */
    background: linear-gradient(45deg, #2E7D32, #5cca60);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    padding: 20px;
    width: 80%;
    max-width: 600px;
}


.logo {
    width: 300px;
    height: 280px;
}

h1 {
    color: white;
    font-size: 80px;
    font-weight: bold;
    margin: 10px 0;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.tagline {
    color: white;
    font-size: 30px;
    margin: 10px 0;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.button {
    width: 20%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    background: #2E7D32;
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Arial, sans-serif;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.1);
}

.button-container span {
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Arial, sans-serif;
}