body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;

    background: linear-gradient(45deg, #2E7D32, #5cca60);

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {

    width: 42vw;
    max-width: 700px;

    padding: 5vh 4vw;

    text-align: center;

    border-radius: 4vh;

    background: linear-gradient(135deg,
    #ffffff 0%,
    #f8f8f8 55%,
    #ececec 100%);

    box-shadow: 0 1.5vh 3vh rgba(0,0,0,0.25);
}

.icon {
    margin-bottom: 2vh;
}

.icon i {

    font-size: 9vh;
    color: #4CAF50;
}

h1 {

    margin: 0 0 2vh;

    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 5vh;
    font-weight: 500;

    color: #111;
}

p {

    margin-bottom: 4vh;

    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 2.5vh;
    line-height: 1.5;

    color: #222;
}

.home-btn {

    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 1vh 2.4vh;

    background: #3e8a47;
    color: white;

    border-radius: 2.5vh;

    text-decoration: none;

    font-size: 2vh;
    font-family: inherit;

    box-shadow: 0.4vw 0 1.5vw rgba(0,0,0,0.25);

    transition: background .3s ease-in-out;
}

.home-btn:hover {
    background: #379541;
}