<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchDay</title>
    <link rel="stylesheet" th:href="@{/css/add-match.css}">
</head>

<body>

<header class="navbar">
    <a th:href="@{/home}">
        <div class="logo">
            <img th:src="@{/images/logo.png}" alt="MatchDay logo">
            <h1>MatchDay</h1>
        </div>
    </a>
    <nav class="admin-nav">
        <ul>
            <li><a th:href="@{/edit-roles}">Edit Roles</a></li>
            <li><a th:href="@{/add-match}">Add Match</a></li>
            <li><a th:href="@{/add-article}">Add Article</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a th:href="@{/articles}">Articles</a></li>
            <li><a th:href="@{/league-tables-menu}">League Tables</a></li>
            <li><a th:href="@{/matches-menu}">Matches</a></li>
        </ul>
    </nav>
</header>

<aside class="profile">
    <img th:src="@{${user.profilePicture}}" alt="Profile Picture" class="profile-pic">
    <h2 th:text="${user.firstName}">Nikola Penkov</h2>
    <h2 th:text="${user.lastName}">Nikola Penkov</h2>
    <p class="username" th:text="'@' + ${user.username}">@username</p>
    <p class="email" th:text="${user.email}">moqtosmiprofil2006@gmail.com</p>
    <p class="country" th:text="${user.country}">BULGARIA</p>
    <div class="profile-buttons">
        <a th:href="@{/}" class="logout">Log out</a>

        <form th:action="@{/email-preference/{id}(id=${user.id})}"
              method="post"
              style="display:inline;">
            <button type="submit"
                    class="logout"
                    th:text="${user.emailsEnabled} ? 'Disable Emails' : 'Enable Emails'">
            </button>
        </form>
    </div>
</aside>


<aside class="fav-team">
    <a th:href="@{/team/{id}(id=${user.favouriteTeam.id})}">
        <img th:src="@{${user.favouriteTeam.logo}}" class="team-logo" alt="idk">
    </a>

    <h2 class="team-name">
        <a th:href="@{/team/{id}(id=${user.favouriteTeam.id})}"
           th:text="${user.favouriteTeam.name}">Inter</a>
    </h2>
    <p  class="league-position" th:text="${position} + ' in ' + ${user.favouriteTeam.league.name}">5th in Serie A</p>
    <p  class="league-position" th:text="${user.favouriteTeam.points} + ' pts'">9 pts</p>
    <p class="latest-match">Latest match</p>
    <p  class="latest-match-text" th:text="${latestMatch}">3-0 vs Bologna</p>
    <p class="manager">Manager</p>
    <p  class="manager-text" th:text="${user.favouriteTeam.coachName}">Christian Chivu</p>
</aside>

<main class="content">

<section class="add-match-box">

    <h2>Add match</h2>

    <div class="add-match-layout">

        <div class="add-match-fields">

            <form th:action="@{/add-match}" method="get">
                <label>Select league</label>
                <select name="leagueId" onchange="this.form.submit()">
                    <option th:each="league : ${leagues}"
                            th:value="${league.id}"
                            th:text="${league.name}"
                            th:selected="${league.id == addMatchRequest.leagueId}">
                    </option>
                </select>
            </form>

            <form th:action="@{/add-match}" method="post" th:object="${addMatchRequest}">
                <input type="hidden" th:field="*{leagueId}" />

                <label>Select home team</label>
                <select th:field="*{homeTeamId}">
                    <option th:each="t : ${teams}"
                            th:value="${t.id}"
                            th:text="${t.name}">
                    </option>
                </select>

                <label>Select away team</label>
                <select th:field="*{awayTeamId}">
                    <option th:each="t : ${teams}"
                            th:value="${t.id}"
                            th:text="${t.name}">
                    </option>
                </select>

                <p class="error" th:if="${sameTeams}">
                    Select a different team
                </p>

                <label>Type in date</label>
                <input type="text" placeholder="dd.MM.yyyy" th:field="*{date}">
                <p class="error" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></p>
                <p class="error" th:if="${invalidDate}">Invalid date</p>
                <p class="error" th:if="${dateOutOfSeason}">Date outside of season range</p>

                <label>Type in time</label>
                <input type="text" placeholder="HH:mm" th:field="*{time}">
                <p class="error" th:if="${#fields.hasErrors('time')}" th:errors="*{time}"></p>
                <p class="error" th:if="${invalidTime}">Invalid time</p>


                <div class="add-match-actions">
                    <button type="submit">Add match</button>
                    <span class="success" th:if="${matchAdded}">Match added successfully</span>
                </div>
            </form>

        </div>

        <div class="add-match-logo">
            <img th:if="${logo}" th:src="@{${logo}}" class="league-logo" alt="League logo">
        </div>

    </div>

</section>

</main>

</body>
</html>
